@{
    ViewData["Title"] = "Error";
}

<div class="alert alert-danger" role="alert" style="margin-top: 25px">
    <h4 class="text-danger"><span class="glyphicon glyphicon-alert"></span>  An error has occurred while processing your request.</h4>
    <p>An Unexpected Error has occured.</p>
</div>